*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/keystore/*.jks
/app/keystore/*.keystore
/app/keystore/keystore.properties
!/.github/workflows/
